/* Created by:Charlotte Jhu
* Created on: Feb 2023
* This file contains the CSS for index.html
*/

body {
  background-color: lightskyblue;
  text-align: center;
}

h1 {
  background-color: mediumpurple;
  color: blue;
  padding: 110 px;
  text-align: center;
}

h2 {
  background-color: violet;
  color: blue;
  padding: 110 px;
  text-align: center;
}
